@font-face {
	font-family: 'OpenS';
	src: url('../fonts/OpenSans-Regular.ttf');

}

*{
	margin: 0;
	padding: 0;
	font-family:'OpenS';
	color: black;
	text-decoration: none;
}

body{
  font-family: "OpenS";
}


header{
	width: 100%;
	height: 194px;
}

.header-head{
	display: flex;
	justify-content: center;
	align-items:center;
	height: 36px;
	background-color: #F8F8F8;
}

.header-head--box{
	width: 1100px;
	height: 20px;
	display: flex;
	align-items:center;
}

.head--box-city{
	width: 93px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	text-decoration: none;
  	font-size: 12px;
  	margin-right: 100px;
}

.head--box-nav{
	width: 352px;
	height: 12px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	ul{
		width: 100%;
    	display: flex;
    	justify-content: space-between;
    	align-items:center;
    	list-style: none;
    	font-size: 12px;
    	img{
    		position: relative;
    		top:1px;
    	}
    	a{
    		display: flex;
    		align-items: center;
    		justify-content: space-between;
    	}
    	li:nth-child(2){
    		width: 98px;
    	}
    	li:nth-child(3){
    		width: 146px;
    	}
  	}
}

.head--box-number{
	font-size: 12px;
	margin-left: auto;
}